@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Dcm Hải Ngố</h2>
<ul>
    <li>Ngao cho</li>
    <li>Ngao cho</li>
    <li>Ngao cho</li>
    <li>Ngao cho</li>
</ul>

<p>Hello from our View Template!</p>